:root{
    --blanco: #ffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
    --grisClaro: #b6b6b6;
}
/*truco para uniformidad de texto*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'krub', sans-serif;
    background: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
/* Lo de arriba es comoo la medida estandar para uniformidad de texto entre los navegadores*/

/*tipografia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
.navegacion-principal{
    /*pading es por dentro, margin es por fuera*/

    display: flex;/* Flex box esta disenado para alinear elementos en tus disenos.
    Existi una proviedad de este que se llama "justufy-content" para filas// alig-items es para columnas (flex-direction)*/
    justify-content: space-between;
    font-weight: bold;/*para poner en color negrita un estilo*/
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
 
}
.navegacion-principal a:hover{/*el hover es para poner el cursor en el hipervinculo reaccione o haga algo, en este caso que cambie de color*/
    background-color: var(--primario);
    color: var(--oscuro);

}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;/*remueve el estilo subrayado del texto que trae por defualt el nav */
    padding: 1rem;
}
/* si por ejemplo tendria otro .navegacion donde configure el color del backroud de nuevo, el navegador tomara por preferido el que este 
mas especifico o mas definido*/

/* rem es una unidad de medida en CSS 1 rem es = 10pix */
.contenedor{
    
    max-width: 120rem;
    margin: 0 auto;

    /*otra forma de hacer lo de arriba mas personalizada es:
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto; */
}
.nav-bg{
    background-color: var(--secundario);
}

.hero{
    background-image: url(../img/hero.jpg);/* ../ es para regresar un nivel de directorio
    ya que la carpeta img esta afuera de css*/

    background-repeat: no-repeat; //*sirve para evitar la repeticion de la imagen cuando es pequena */
    background-size: cover;/*sirve para cubrir la imagen con todo el tamano */
    height: 450px; /*alto del elemento hero*/
    position: relative;/* es para manipular la posicion de algo. el padre siempre debe ser relativo y el hijo debe ser absoluto*/
}
.contenido-hero{
    position: absolute;/* esta es la clase hija de hero, por esta razon es absoluta*/
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    /*alinear el texto de manera vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco);
}
.Contenido-Hero-Ubicacion{
    display: flex;
    align-items: flex-end;
}


.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 3rem;
    /*negritas*/
    font-weight: bold;
    text-transform: uppercase;/*convierte el texto a mayusculas*/
    width: auto;
    text-align: center;
}

@media (max-width: 480px){
    .boton{
        width: 70%;
    }
}
